<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @prospect.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @prospect.last_name %>
</p>

<p>
  <strong>Email lead:</strong>
  <%= @prospect.email_lead_id %>
</p>

<p>
  <strong>Phone lead:</strong>
  <%= @prospect.phone_lead_id %>
</p>

<p>
  <strong>Social lead:</strong>
  <%= @prospect.social_lead_id %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @prospect.contact_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @prospect.user_id %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @prospect.email_address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @prospect.phone_number %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @prospect.facebook %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @prospect.linkedin %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @prospect.twitter %>
</p>

<p>
  <strong>Google plus:</strong>
  <%= @prospect.google_plus %>
</p>

<p>
  <strong>City:</strong>
  <%= @prospect.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @prospect.state %>
</p>

<p>
  <strong>Address:</strong>
  <%= @prospect.address %>
</p>

<p>
  <strong>Age:</strong>
  <%= @prospect.age %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @prospect.dob %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @prospect.industry %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @prospect.domain %>
</p>

<p>
  <strong>Company:</strong>
  <%= @prospect.company_id %>
</p>

<p>
  <strong>Website:</strong>
  <%= @prospect.website_id %>
</p>

<p>
  <strong>Active:</strong>
  <%= @prospect.active %>
</p>

<p>
  <strong>Valid:</strong>
  <%= @prospect.valid %>
</p>

<p>
  <strong>Person:</strong>
  <%= @prospect.person_id %>
</p>

<p>
  <strong>Campaign:</strong>
  <%= @prospect.campaign_id %>
</p>

<%= link_to 'Edit', edit_prospect_path(@prospect) %> |
<%= link_to 'Back', prospects_path %>
