<%= stylesheet_link_tag 'search_results.css' %>
<%= render 'layouts/topbar' %>
<header class="side-header light-skin">
  <%= render 'layouts/navigation' %>
</header>
<style>
  td {
    color:black;
  }
  tr {
    color:black;
  }
  thead {
    color:black;
  }
 .main-content {
    background: url(/images/rolladeck_bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

</style>
<div class="main-content">

  <div class="heading-sec">
    <div class="row">
      <div class="col-md-6" style="text-align: left;">
        <div class="heading-profile" style="">
          <h1>Test</h1>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-12 column">
          <div class="user-bar" style="background: transparent">
           </div>
          <% if @contacts %><div class="pull-right"><%= will_paginate @contacts, :style => 'color:blue' %></div><% end %>
        </div>
      </div>

    </div>
  </div><!-- Top Bar Chart -->
  <div class="panel-content">
    <div class="search-sec" style="background: transparent">
      <form action="/companies" method="get" id="search_form">
        <input style="color:white" placeholder="Search by phrase or keywords..." type="text" name="q" id="search_box" autofocus>
        <button type="submit">
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>
 
    <% unless @companies.blank? %>
        <div class="row">
          <div class="col-md-12">
            <div class="widget">
              <div class="table-area">
                <div class="table table-responsive sortable">
                  <table class="table table-striped">
                    <tbody>

                    <div class="container">

                      <hgroup class="mb20">
                        <h2 class="lead"><strong class="text-danger"><%= @companies.count %></strong> results found for <strong class="text-danger"><%= params[:query] %></strong></h2>
                      </hgroup>

                      <section class="col-xs-12 col-sm-6 col-md-12">
                        <% @companies.each do |biz| %>
                            <article class="search-result row">
                              <div class="col-xs-12 col-sm-12 col-md-3">
                                <a href="<%= biz.website %>" title="<%= biz.company_name %>" class="thumbnail">
                                   <img src="<%= biz.image_url || "/images/avatar-blank.jpg" %>" alt="<%= biz.company_name %>" />
                                </a>
                              </div>
                              <div class="col-xs-12 col-sm-12 col-md-2">
                                <ul class="meta-search">
                                  <% if biz.contact_person %>
                                      <li><i class="fa fa-user"></i>
                                        <span><%=  biz.contact_person  %></span>
                                      </li>
                                  <% end %>
                                  <% if biz.contact_person_title %>
                                      <li><i class="fa fa-star"></i>
                                        <span><i><%=   biz.contact_person_title   %></i></span>
                                      </li>
                                  <% end %>
                                  <li><i class="fa fa-calendar"></i> <span><%= biz.updated_at.to_date %></span></li>
                                  <% if biz.industry %>
                                      <li><i class="fa fa-briefcase"></i> <span><%= biz.industry.split("(").first %></span></li>
                                  <% end %>
                                  <% if biz.city and biz.state %>
                                      <li><i class="fa fa-location-arrow"></i>
                                        <span><%= biz.city %>, <%= biz.state %>
                                        </span>
                                      </li>
                                  <% end %>
                                </ul>
                              </div>
                              <div class="col-xs-12 col-sm-12 col-md-7">
                                <h3><a href="<%= biz.website %>" title=""><%= biz.company_name %></h3>

                                <% if biz.description %>
                                    <p><%= biz.description.to_s.html_safe %></p>
                                <% end %>

                                <span class="plus"><a href="https://your-server.net/pricing" title="Add to Prospects"><i class="fa fa-plus"></i></a></span>

                              </div>
                              <span class="clearfix borda"></span>
                            </article>
                        <% end %>
                      </section>
                    </div>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>

        </div>

    <% end %>


        </div><!-- Panel Content -->
  </div><!-- Main Content -->
<%= render :partial => 'layouts/footer' %>

<!-- Vendor: Javascripts -->

<script src="https://maps.google.com/maps/api/js?sensor=false"></script>

<script>
  <% flash.each do |name, msg| %>

  <% if msg.is_a?(String) %>

  swal({
    title: "<%= name.upcase %>",
    text: "<%= msg %>",
    confirmButtonText: "OK"
  });

  <% end %>

  <% end %>

</script>

<script src="typeahead.js"></script>
<script>
  $("#search_box").typeahead({
    name: "company",
    remote: "/companies/autocomplete?query=%QUERY"
  });
</script>