<style>
  td {
    color:black;
  }
  tr {
    color:black;
  }
  thead {
    color:black;
  }

  span{
    color:black;
  }

</style>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<%= render 'layouts/topbar' %>
<header class="side-header light-skin">
  <%= render 'layouts/navigation' %>
</header>

<div class="main-content">
  <div class="breadcrumbs">
    <ul>
      <li><a href="#/" title="">Home</a></li>
      <li><a href="profile.html" title="">Profile</a></li>
    </ul>
  </div>

  <div class="panel-content">
    <div class="row">
      <div class="col-md-12">
        <div class="profile-sec">
          <div class="profile-banner-sec">
            <ul>
              <li>
                <input accept="image/*" type="file" name="file-1[]" id="file-1" class="new-img inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple />
                <label for="file-1"><i class="fa fa-picture-o"></i><span>Choose a file&hellip;</span></label>
              </li>
              <li><a href="/profile/edit" title=""><i class="fa fa-pencil"></i> Edit Profile</a></li>
            </ul>
            <img src="<%= @record.image_url %>" alt="" />
          </div>
          <div class="user-bar">
            <div class="user-thumb">
              <img src="http://placehold.it/896x932" alt="" />
              <h3><%= @record.name %></h3>
              <span><i class="fa fa-map-marker"></i> <%= @record.location %></span>
            </div>
            <a title="" class="purple-skin"><i class="fa fa-heart-o"></i> Save</a>
            <ul>
              <li>
                <%= @record.followers %>
                <span>Followers</span>
              </li>
              <li>
                <%= @record.users.count %>x
                <span>Matched</span>
              </li>
              <li>
                <%= @record.following %>
                <span>Websites</span>
              </li>
            </ul>
            <div class="social-btns">
              <ul>
                <% SocialLead.where(:username => @record.username).each do |profile| %>
                <li><a href="<%= profile.profile_url %>" title=""><i class="fa fa-<%= profile.social_network %>"></i></a></li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="profile-all">
            <div class="row">
              <div class="col-md-8">
                <div class="widget">
                  <div class="add-content-form">
                    <textarea></textarea>
                    <div class="add-content">
                      <ul>
                        <li><a href="#" title=""><i class="fa fa-location-arrow"></i></a></li>
                        <li><a href="#" title=""><i class="fa fa-microphone"></i></a></li>
                        <li><a href="#" title=""><i class="fa fa-picture-o"></i></a></li>
                        <li><a href="#" title=""><i class="fa fa-cloud-upload"></i></a></li>
                      </ul>
                      <button type="submit">POST</button>
                    </div>
                  </div>
                </div>
                <div class="widget no-color">
                  <div class="activity-feed">
                    <ul class="activity-timeline">
                      <li>
                        <span class="user-device"><i class="fa fa-mobile"></i></span>
                        <div class="user-activity">
                          <div class="who-post-this">
                            <span><img src="http://placehold.it/67x67" alt="" /></span>
                            <div class="who-post-detail">
                              <h3><a href="#" title="">Diana Dare<i class="poster-status online"></i></a></h3>
                              <span><a href="#" title="">Diana Dare</a> Posted 4 photos in <a href="#" title="">Beauty album</a></span>
                              <i>2 minutes ago</i>
                            </div>
                          </div>
                          <div class="post-content">
                            <p>Dnim eiusmod high life...</p>
                            <div class="post-gallery">
                              <a href="images/preview.png" title="Preview Demo"><img src="http://placehold.it/69x69" alt="" /></a>
                              <a href="images/preview.png" title="Preview Demo"><img src="http://placehold.it/69x69" alt="" /></a>
                              <a href="images/preview.png" title="Preview Demo"><img src="http://placehold.it/69x69" alt="" /></a>
                              <a href="images/preview.png" title="Preview Demo"><img src="http://placehold.it/69x69" alt="" /></a>
                            </div>
                          </div>
                          <div class="comment-form">
                            <span><i class="fa fa-thumbs-o-up"></i> Like</span>
                            <span><i class="fa fa-comment-o"></i> Comments</span>
                            <form>
                              <textarea placeholder="Add Commemts"></textarea>
                            </form>
                          </div>
                        </div>
                      </li>
                      <li>
                        <span class="user-device"><i class="fa fa-laptop"></i></span>
                        <div class="user-activity">
                          <div class="who-post-this">
                            <span><img src="http://placehold.it/67x67" alt="" /></span>
                            <div class="who-post-detail">
                              <h3><a href="#" title="">Janjo liyo<i class="poster-status online"></i></a></h3>
                              <span><a href="#" title="">Janjo liyo</a> Post a text in his <a href="#" title="">Profile</a></span>
                              <i>6 minutes ago</i>
                            </div>
                          </div>
                          <div class="post-content">
                            <p>Dnim eiusm ni eiusmod high life accusamus terry richardson ad squid. 3 wolfmoon officia aute, cupidatat od high life...</p>
                          </div>
                          <div class="comment-form">
                            <span><i class="fa fa-thumbs-o-up"></i> Like</span>
                            <span><i class="fa fa-comment-o"></i> Comments</span>
                            <form>
                              <textarea placeholder="Add Commemts"></textarea>
                            </form>
                          </div>
                        </div>
                      </li>
                      <li>
                        <span class="user-device"><i class="fa fa-television"></i></span>
                        <div class="user-activity">
                          <div class="who-post-this">
                            <span><img src="http://placehold.it/67x67" alt="" /></span>
                            <div class="who-post-detail">
                              <h3><a href="#" title="">Janjo liyo<i class="poster-status online"></i></a></h3>
                              <span><a href="#" title="">Janjo liyo</a> Post a text in his <a href="#" title="">Profile</a></span>
                              <i>6 minutes ago</i>
                            </div>
                          </div>
                          <div class="post-content">
                            <p>Dnim eiusm ni eiusmod high life accusamus terry richardson ad squid. 3 wolfmoon officia aute, cupidatat od high life...</p>
                            <iframe src="https://player.vimeo.com/video/46975682?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                          </div>
                          <div class="comment-form">
                            <span><i class="fa fa-thumbs-o-up"></i> Like</span>
                            <span><i class="fa fa-comment-o"></i> Comments</span>
                            <form>
                              <textarea placeholder="Add Commemts"></textarea>
                            </form>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div><!-- Activity Feed -->
                </div>
              </div>
              <div class="col-md-4">
                <div class="widget">
                  <div class="our-clients-sec">
                    <div class="widget-title">
                      <h3>QuickList</h3>
                      <span>You added 522 Prospects</span>
                    </div>
                    <div id="searchDir"></div>
                    <ul id="people-list" class="client-list">
                      <% current_user.prospects.each do |prospect| %>
                      <li>
                        <span class="user-status online red-skin">J</span>
                        <div class="client-info">
                          <h3><a href="#" title=""><%= prospect.name %></a></h3>
                          <p><%= prospect.title %></p>
                          <a href="<%= url_for prospect %>" title=""><i class="fa fa-comment-o"></i></a>
                        </div>
                      </li>
                          <% end %>
                    </ul>
                  </div><!-- Our Clients Sec -->
                </div><!-- Widget -->
                <div class="widget">
                  <div class="twitter-feed">
                    <div class="twitter-account">
                      <i class="fa fa-twitter"></i>
                      <h3>My Audience</h3>
                      <span>Sentiment Meter</span>
                    </div>
                    <div class="twitter-widget">
                      <div id="tweecool"></div>
                    </div>
                  </div>
                </div><!-- Widget -->
                <div class="widget">
                  <div class="my-location">
                    <div id="map-canvas"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- Profile Sec -->
      </div>
    </div>
  </div><!-- Panel Content -->
</div>
